*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    background: #fff;
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/black4.jpg);
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    color: #fff;
}
.header h1{
    margin-top: 100px;
    font-size: 45px;
}
.header img{
    width: 350px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color: #fff;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;
}
.header-2{
    background: #fff;
    height: 70px;
    margin: auto 100px auto;
}
body{
    background-color:#fff;
 }
.small-container3{
max-width: 1700px;
margin: auto;
padding-top: 0px;
padding-left: 0px;
padding-right: 5px;
padding-bottom: 50px;
}
.small-container2{
max-width: 1500px;
margin-top: 0px;
margin: auto;
padding-top: 50px;
padding-left: 0px;
padding-right: 5px;
padding-bottom: 10px;
} 
.wrapper2{
display: flex;
position: relative;
}
.wrapper2 .sidebar2{
width: 700px;
height: 10px;
background: rgba(255,255,255,0.1);
box-shadow: 0 0 6px rgba(255,255,255,0.);   
padding: 30px 0px;
position: relative;
padding-bottom: 570px;
}

.wrapper2 .sidebar2 h2{
color: #fff;
text-align: center;
margin-bottom: 30px;
}
.wrapper2 .sidebar2 ol li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}    
.wrapper2 .sidebar2 ol li a{
    color: #fff;
    display: block;
}
.wrapper2 .sidebar2 ul li{
list-style: none;
display: inline-block;
padding: 25px;
}    
.wrapper2 .sidebar2 ul li a{
color: #fff;
display: block;
}
.wrapper2 .sidebar2 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.wrapper2 .sidebar2 ul li:hover::after{
    width: 100%;
}
.wrapper4{
display: flex;
position: relative;
}
.wrapper4 .sidebar2{
width: 700px;
height: 10px;
background: rgba(255,255,255,0.1);
box-shadow: 0 0 6px rgba(255,255,255,0.);   
padding: 50px 28px;
position: relative;
padding-bottom: 570px;
}

.wrapper4 .sidebar2 h2{
color: #fff;
text-align: center;
margin-bottom: 30px;
}
.wrapper4 .sidebar2 ol li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}    
.wrapper4 .sidebar2 ol li a{
    color: #fff;
    display: block;
}
.wrapper4 .sidebar2 ul li{
list-style: none;
display: inline-block;
padding: 25px;
}    
.wrapper4 .sidebar2 ul li a{
color: #fff;
display: block;
}
.wrapper4 .sidebar2 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.wrapper4 .sidebar2 ul li:hover::after{
    width: 100%;
}
.wrapper4 .sidebar2 ol li {
    position: relative;
}
.wrapper3{
    display: flex;
    position: relative;
  }
  
.wrapper3 .sidebar3{
width: 700px;
height: 30px;
background: rgba(255,255,255,0.1);
box-shadow: 0 0 6px rgba(255,255,255,0.);   
padding: 30px 0px;
position: relative;
padding-bottom: 590px;
}

.wrapper3 .sidebar3 h2{
color: #fff;
text-align: center;
margin-bottom: 30px;
}

.wrapper3 .sidebar3 ul li{
padding: 25px;
border-bottom: 1px solid #fff;
border-bottom: 1px solid rgba(0,0,0,0.05);
border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper3 .sidebar3 ul li a{
color: #fff;
display: block;
}

.wrapper3 .sidebar3 ul li a .fa{
width: 25px;
}
 .wrapper{
   display: flex;
   position: relative;
 }
 
 .wrapper .sidebar{
   width: 700px;
   height: 100%;
   background: rgba(255,255,255,0.1);
   box-shadow: 0 0 6px rgba(255,255,255,0.);   
   padding: 30px 0px;
   position: relative;
   padding-bottom: 570px;
 }
 
 .wrapper .sidebar h2{
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 30px;
 }
 
 .wrapper .sidebar ul li{
   padding: 25px;
   border-bottom: 1px solid #fff;
   border-bottom: 1px solid rgba(0,0,0,0.05);
   border-top: 1px solid rgba(255,255,255,0.05);
 }    
 
 .wrapper .sidebar ul li a{
   color: #fff;
   display: block;
 }
 
 .wrapper .sidebar ul li a .fa{
   width: 25px;
 }
 .fa-star{
    color: #f44336;
 }
 
 .wrapper .sidebar ul li:hover{
   background-color: #f44336;
 }
     
 .wrapper .sidebar ul li:hover a{
   color: #fff;
 }
nav img{
    width: 50%;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 17px;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background-color: #f44336;
    display: block;
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 55%;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
    margin-right: 0%;
}
.container{
    max-width: 1600px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.row6{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 10px 0 10px;
    margin-bottom: 0px;
}
.footer p{
    color: #8a8a8a  ;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 400px;
    margin-bottom: 20px;  
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 200px;
}
.small-container{
    max-width: 1700px;
    margin: auto;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 100px;
}
.col-4{
    flex-basis: 35%;
    padding: 1;
    min-width: 320px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
    padding: 5px;
}
.row2{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.tittle{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.col-4:hover{
    transform: translateY(-5px);
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #f44336;
    padding: 5px;
}
select:focus{
    outline: none;
}
.shop-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.shop-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #f44336;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #f44336;
    color: #fff;
}
.col-5{
    text-align: left;
    margin-top: 50px;
    margin-right: 450px;

    
}
.col-2{
    margin-left: 0px;
    margin-top: 40px;
}
.btn{
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 8px 30px;
    margin-left: 20px;
    border-radius: 30px;
}
input:focus{
    outline: none;
}
.fa-indent{
    color: #f44336;
    margin-left: 10px;
}
.fa-guitar{
    padding-right: 10px;
}
#kian{
    border-radius: 50%;
    border: 2px solid rgba(219, 220, 223, 0.7);
    height: 200px;
    width: 200px;
    background-image: url(image/me3.jpg);
}
#dale{
    border-radius: 50%;
    border: 2px solid rgba(219, 220, 223, 0.7);
    height: 200px;
    width: 200px;
    background-image: url(image/dale3.jpg);
}
#kiel{
    border-radius: 50%;
    border: 2px solid rgba(219, 220, 223, 0.7);
    height: 200px;
    width: 200px;
    background-image: url(image/kiel3.png);
}
#yanna{
    border-radius: 50%;
    border: 2px solid rgba(219, 220, 223, 0.7);
    height: 200px;
    width: 200px;
    background-image: url(image/yanna3.jpg);
}
#sirengilbert{
    border-radius: 50%;
    border: 2px solid rgba(219, 220, 223, 0.7);
    height: 200px;
    width: 200px;
    background-image: url(image/sirengilbert3.jpg);
}
.featured::after{
    content: '';
    background: #f44336;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 9%;
    transform: translateX(-50%);
}
.divider{
    background-color: #f44336;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    transform: translateX(-50%);
    display: inline-block;
    margin-left: 40px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 5px;
}
.about-us p{
    text-align: justify;
    font-size: 20px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.developer img{
    width: 100%;
}
.developer-links{
    flex: 1;
    text-align: center;
    justify-content: space-between;
}
.developer-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 45px;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}